@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap");
@media (max-width: 576px) {
  .nav-item {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
  }
  .nav-item .nav-link {
    margin: 4px !important;
  }
  .hero {
    background-position: center;
  }
  .hero h2 {
    font-size: 84px !important;
  }
  .featured-products h3 {
    margin-top: 16px;
    font-size: 26px;
  }
  .featured-products .col {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .featured-products .col .card {
    padding: 10px;
    margin-bottom: 30px;
  }
  #followUs {
    margin-top: 16px;
    font-size: 26px;
  }
  #help li {
    font-size: 16px;
  }
  .products-stock h2 {
    margin: 40px 0px 20px 0px;
    font-size: 36px;
  }
  .products-stock .col {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
.btn {
  color: #2D2D2A;
  background-color: #20FC8F;
  border-color: #20FC8F;
}
.btn:hover {
  color: #000;
  background-color: #ffffff;
  border-color: #ffffff;
}

.button-buy {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #20FC8F;
  border-radius: 4px;
}
.button-buy a {
  text-decoration: none;
  color: #000;
}

.log-in-btn {
  width: 80px;
  height: 40px;
  border-radius: 12px;
  background-color: #20FC8F;
  color: #38423B;
  margin: 2px;
}

footer {
  background-color: #20FC8F;
}
footer .footer-text {
  margin-top: 30px;
  font-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-icons {
  display: flex;
  justify-content: center;
}
footer .footer-icons a {
  font-size: 40px;
  color: #38423B;
  margin: 8px;
}
footer .help-footer {
  display: flex;
  flex-direction: column;
}
footer .help-footer #help {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
}
footer .help-footer #help li {
  font-size: 20px;
}
footer .help-footer #help li a {
  text-decoration: none;
  color: #2D2D2A;
}

header {
  background-color: #20FC8F;
}
header .navbar {
  background-color: #20FC8F !important;
}
header .navbar #navbarNav {
  align-items: center;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  color: #38423B;
}
header .navbar #navbarNav .navbar-nav {
  background-color: #20FC8F !important;
  padding: 8px;
  font-size: 20px;
  color: #38423B;
}
header .navbar #navbarNav .navbar-nav .nav-item {
  color: #38423B;
  font-size: 24px;
  list-style-type: none;
  text-decoration: none;
  padding: 10px;
}
header .navbar #navbarNav .navbar-nav .nav-item .nav-link {
  margin: 8px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif !important;
}

body {
  background-color: #38423B;
}

.subtitles {
  color: #20FC8F;
  text-align: center;
  font-size: 60px;
  padding: 15px;
  margin: 60px 0px 60px 0px;
}

main .about-us-offers {
  background-image: url("../../img/banner-about-us.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .about-us-offers #aboutUsTittle {
  color: #38423B;
  text-align: center;
  font-size: 60px;
  padding: 15px;
  margin: 0px;
}
main .about-us-offers .rectangle {
  background-color: rgba(32, 252, 143, 0.8);
  width: 1600px;
  height: 400px;
}
main .about-us-offers .rectangle .about-us-text {
  color: #38423B;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px 100px 0px 100px;
}

main #seeProducts {
  color: #ffffff;
  text-decoration: none;
}

main #contact {
  height: 70vh;
}
main #contact .container-contact {
  margin: 20px;
  background-color: #20FC8F;
  height: 270px;
}
main #contact .container-contact #contactIcon {
  display: flex;
  align-items: center;
}
main #contact .container-contact #contactIcon a {
  font-size: 36px;
  color: #000;
  text-decoration: none;
}
main #contact .container-contact #contactIcon .fa-instagram, main #contact .container-contact #contactIcon .fa-facebook, main #contact .container-contact #contactIcon .fa-whatsapp, main #contact .container-contact #contactIcon .fa-envelope, main #contact .container-contact #contactIcon .fa-phone {
  font-size: 48px;
  color: #000;
}
main #contact .container-contact #contactIcon h4 {
  color: #000;
  padding-left: 6px;
  margin-bottom: 0px;
  font-size: 40px;
}

main .hero {
  background-image: url("../../img/banner-index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .hero h2 {
  color: #20FC8F;
  padding: 20px;
  font-size: 160px;
  text-align: center;
  margin-top: 80px;
}
main .card {
  background-color: #2D2D2A;
  border: 1px solid #2D2D2A;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 80px;
}
main .card img {
  width: 100%;
  height: auto;
}
main .card .card-body {
  color: #ffffff;
}

main #logIn {
  height: 75vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-around;
}
main #logIn .rectangle-log-in {
  background-color: #20FC8F;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 8px;
  border-width: 8px;
  width: 400px;
  height: 516px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
main #logIn .rectangle-log-in #logInTittle {
  color: #000;
  padding-top: 22px;
  font-size: 38px;
  margin-bottom: 0px;
}
main #logIn .rectangle-log-in .log-in-account {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #logIn .rectangle-log-in .log-in-account .form-label {
  font-size: 24px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 0px;
}
main #logIn .rectangle-log-in .log-in-account .form-control {
  width: 270px;
  height: 36px;
}
main #logIn .rectangle-log-in .log-in-account .account {
  font-size: 20px;
  padding: 20px;
}
main #logIn .rectangle-log-in .log-in-account .account a {
  color: #000;
  text-decoration: none;
  display: flex;
  margin: 6px;
}
main #logIn .rectangle-log-in .log-in-account .account .sign-up-link {
  color: #000;
}

/*# sourceMappingURL=app.css.map */
