main{
    .about-us-offers{
        background-image: url('../../img/banner-about-us.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 860px;
        .subtitles{
            margin: 0;
        }
        .rectangle{
            background-color: rgba(32, 252, 143, 0.8);
            width: 800px;
            height: 400px;
            .about-us-text{
                color: $sixth-color;
                font-size: 30px;
                display: flex;
                align-items: center;
                justify-content: center; 
                text-align: center;
                margin: 0px 100px 0px 100px;
            }
        }
        #aboutUsOffers{
        font-size: 34px;
        margin: 10px 10px 0px 40px;
        color: $seventh-color;
        } 
        .form-container{
            .form-label{
                font-size: 34px;
                color: $seventh-color;
                margin: 6px 10px 0px 40px;
            }
            .form-control {
                width: 400px;
                height: 36px;
                margin: 10px 10px 10px 40px;
                padding: 6px;
                font-size: 20px
            }
    }
}
}