main{
    .about-us-offers{
        background-image: url('../../img/banner-about-us.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        #aboutUsTittle{
            color: $seconadary-color;
            text-align: center;
            font-size: 60px;
            padding: 15px;
            margin: 0px;
        }
        .rectangle{
            background-color: rgba(32, 252, 143, 0.8);
            width: 1600px;
            height: 400px;
            .about-us-text{
                color: $seconadary-color;
                font-size: 30px;
                display: flex;
                align-items: center;
                justify-content: center; 
                text-align: center;
                margin: 0px 100px 0px 100px;
            }
        }
    }
}
