main{
    #contact{
        height: 70vh;
        .container-contact{
            margin: 20px;
            background-color: rgba(32, 252, 143, 0.7);
            height: 270px;
            display: flex;
            flex-direction: column;
            align-self: center;
            #contactIcon{
                display: flex;
                align-items: center;
                a{
                    font-size: 30px;
                    color: $sixth-color;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                }
                .fa-instagram, .fa-facebook, .fa-whatsapp, .fa-envelope, .fa-phone{
                    font-size: 48px;
                    color: $sixth-color;
                }
                h4{
                    color: $sixth-color;
                    padding-left: 6px;
                    margin-bottom: 0px;
                    font-size: 30px;
                }
            }
        }
    }   
}