main{
    .hero{
        background-image: url('../../img/banner-index.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        #typographyColor{
            animation: changeTypographyColor 3s infinite;
        }
        h2{
            color: $primary-color;
            padding: 20px;
            font-size: 160px;
            text-align: center;
            margin-top: 80px;
            @include mediaquerie-mobile(){
                font-size: 84px !important;
            }
        }
    }
    .card{
        background-color: $tertiary-color;
        border: 1px solid $tertiary-color;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 80px;
        img{
            width: 100%;
            height: auto;
            transition: transform 0.5s ease-in-out;
            &:hover {
                transform: scale(1.2);
            }
        }
        .card-body{
            color: $seventh-color;
        }
    }       
}

@keyframes changeTypographyColor{
    0%{
        color: $seconadary-color;
    }
    50%{
        color: $seventh-color ;
    }
    100%{
        color: $sixth-color;
    }
}
