main{
    .log-in-account{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       .form-label{
        font-size: 24px;
        color: $seventh-color;
        margin: 10px;
        }
        .form-control{
        width: 200px;
        height: 20px;
        }
        .account{
            a{
            color: $seventh-color;
            text-decoration: none;
            display: block;
            margin: 10px;
            }
            .sign-up-link{
            color: $primary-color;
            }
        }
    }
}