footer{
    background-color: $primary-color;
    h3{
        margin-top: 30px;
        font-size: 38px;
    }
    #help{
        list-style-type: none;
        li{
            font-size: 20px;
            a{
                text-decoration: none;
                color: $tertiary-color;
            }
        }
    }
}
