@media (max-width:576px){
    //NAVBAR
    .nav-item{
        font-size: 18px;
        margin: 0px;
        padding: 0px;
        .nav-link {
            margin: 4px !important;
        }
    }
    //BODY
    .hero{
        background-position: center;
        h2{
            font-size: 84px !important;
        }
    }
    .featured-products{
        h3{
            margin-top: 16px;
            font-size: 26px;
        }
        .col{
            align-items: center;
            display: flex;
            justify-content: center;
            .card{
                padding: 10px;
                margin-bottom: 30px; 
            }
        }
    }
    //FOOTER
    .footer-text{
        margin-top: 16px;
        font-size: 26px;
            font-size: 20px !important;
    }
    #help li a{
        font-size: 16px;
    }
    //PRODUCTS
    .products-stock h2{
        margin: 40px 0px 20px 0px;
        font-size: 36px;
    }
    .products-stock .col{
        align-items: center;
        display: flex;
        justify-content: center;
    }
}






 



